/**
 * Eventbrite styles for Twenty Fifteen.
 *
 * @package Eventbrite_API
 */

.eventbrite-event .entry-title {
	margin-bottom: 0.25em;
}

.eventbrite-event .entry-meta {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 2em;
}

@media screen and (min-width: 46.25em) {
	.eventbrite-event .entry-meta {
		font-size: 14px;
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 55em) {
	.eventbrite-event .entry-meta {
		font-size: 16px;
		font-size: 1.6rem;
	}
}
